.logo
  =image_tag('logo.png', width: '100%', height: '100%')
  =image_tag('title.png', width: '100%', height: '100%')
%br
.box
  %h4
    RePsyched is an app to help you track your recycling habits.
  %nobr
  %h3
    We hope you become
    %em PSYCHED
    to recycle!
  %br
  =link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg"
  =link_to "Log In", new_user_session_path, class: "btn btn-primary btn-lg"
  %br
  %p
    © 2018