/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$primary: #330896;
$secondary: #fd8023;

$btn-primary-bg: $secondary;

@import "bootstrap-sprockets";
@import "bootstrap";


#main-container {
  position: absolute;
  width: 100%;
  padding: {
    top: 50px;
    bottom: 50px;
  }
  text-align: center;
}

.btn {
  text-decoration: none;
}

body {
  background: $primary;
  color: white;
}

.logo{
  width: 70%;
  margin: auto;
  padding-bottom: 5%;
}